experiments/
experiments_mac/
experiments_rud/
Build.app
Modbot-master-*.app
.DS_Store
.pytest_cache
__pycache__

*.png
*.cfg
bestInd
nohup.out

Modbots_v2/Library
Modbots_v2/Logs
Modbots_v2/obj
Modbots_v2/Packages
Modbots_v2/ProjectSettings
Modbots_v2/Temp
Modbots_v2/UserSettings
Modbots_v2/.*
Modbots_v2/Assembly*
Modbots_v2/Modbots*

log_folder

count_lines.py
new_exp.sh
remote_*

modes_summary.txt
setup-run-me-please.sh
to_delete*.py
centers_*
recordings
Modbots-master*
diffs
