experiments/
Build.app
Assets/DeprecatedScript/
Assests/Materials/
Assests/ML-Agents/
Assests/Modules/
Assets/Resources/
Assests/Scenes
.DS_Store
.vs
.pytest_cache
__pycache__
Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/
UserSettings/
video/
videos/
.vsconfig
Assembly-CSharp.csproj
*.sln

*_config.txt
